.fullBlock {
    display: table;
    width: 100%;
}

.fullBlock .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.homepage p,
.homepage h1,
.homepage h2,
.homepage h3,
.homepage h4,
.homepage h5,
.homepage h6 {
    font-family: 'Lovers Quarrel';
    font-weight: normal;
}

.homepage.logo {
    width: 90%;
	max-width: 360px;
}

.homepage.title {
    color: #2f1111;
    font-size: 120px;
    line-height: 0.5;
}

.homepage.tagline {
    color: #000000;
    font-size: 60px;
    line-height: 0.75;
}

.homepage.sectionhead {
    font-size: 60px;
}

.homepage.light .sectionhead {
    color: #2f1111;
}

.homepage.dark .sectionhead {
    color: #fcfafa;
}

.homepage.light {
    background: #fcfafa;
    color: #2f1111;
}

.homepage.dark {
    background: #2f1111;
    color: #fcfafa;
}

.homepage p,
.homepage ul {
    width: 90%;
    max-width: 600px;
    line-height: 1.2;
    margin: 0 auto;
}

.homepage p {
    font-size: 40px;
}

.homepage ul {
    font-family: 'Alegreya Sans SC';
    font-size: 24px;
}

#editor_live{
	height:100px;
}
